* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    border: 2px solid #cba6f7;
    border-radius: 10px;
    color: #ffffff;
    border-radius: 5px;
}

.modules-left, .modules-center, .modules-right {
    margin: 0;
}

#clock.time {
  padding: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}

#clock.date {
  font-size: 10px;
  color: #a6adc8;
}

#custom-clock-label {
  padding: 5px 0px 0px 0px;
}

#workspaces button {
  color: #ffffff;
}

#network,
#battery{
  padding: 0px 5px 5px 0px;
}

